<!DOCTYPE html>
<html lang="en-US">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <head>
        <title>Restaurant Menu Manager</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <script src="./js/vue.js"></script>
    </head>

    <body>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-database.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->

        <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCJo1CtVIJ7MU3n4M3DZKKpPpmm95V7rKA",
            authDomain: "restuarant-menu-manager.firebaseapp.com",
            databaseURL: "https://restuarant-menu-manager.firebaseio.com",
            projectId: "restuarant-menu-manager",
            storageBucket: "restuarant-menu-manager.appspot.com",
            messagingSenderId: "772716602961",
            appId: "1:772716602961:web:71666e719eef5895b4ba70"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        </script>

        <div id="app">
            <font face="Montserrat">
            <headings></headings>

            <div id="main">
                    <menuitems @change-data="edititem" @show-change-dialogue="showChangeDialogue = true"></menuitems>
                <div class="columns is-centered">
                    <div class="column has-text-centered is-2">
                        <button type="button" class="button is-dark" @click="showItemDialogue = true" v-if="!showItemDialogue">Add Item</button>
                    </div>
                </div>

                <itemdialogue v-if="showItemDialogue" @item-added="hideDialogue()"></itemdialogue>

                <div v-if="showChangeDialogue">
                    `<div class="columns is-centered">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="field">
                                    <label class="label">Editing: {{ toedit }}</label>
                                    <div class="control">
                                        <input v-model="new_name" type="text" class="input is-rounded">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Description</label>
                                    <div class="control">                     
                                      <textarea class="textarea is-rounded" v-model = "new_description"></textarea>
                                    </div>
                                  </div>
                                  <label class="label"></label>
                                  <div class="field has-addons">
                                    <div class="control">
                                      <a class="button is-static">
                                        Price
                                      </a>
                                    </div>
                                    <div class="control">
                                      <input v-model="new_price" class="input is-rounded" type="text">
                                    </div>
                                  </div>
                                  <div class="field">
                                      <label class="label">Image URL</label>
                                      <div class="control">
                                          <input v-model="new_imgsrc" class="input is-rounded" type="text">
                                      </div>
                                  </div>
                                    <button type="button" class="button is-black" @click="changeItem(); showChangeDialogue = false">Change</button>
                                    <button @click="showChangeDialogue = false" class="button is-light">Cancel</button>
                            </fieldset>
                        </form>
                        </font>
                        </div>`
                </div>
            </div>
        </div>
        <script src="./js/main.js"></script>
    </body>
</html>