<!DOCTYPE html>
<html lang="en-US">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <head>
        <title>Restaurant Menu Manager</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <script src="./js/vue.js"></script>
    </head>

    <body>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-database.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->

        <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCJo1CtVIJ7MU3n4M3DZKKpPpmm95V7rKA",
            authDomain: "restuarant-menu-manager.firebaseapp.com",
            databaseURL: "https://restuarant-menu-manager.firebaseio.com",
            projectId: "restuarant-menu-manager",
            storageBucket: "restuarant-menu-manager.appspot.com",
            messagingSenderId: "772716602961",
            appId: "1:772716602961:web:71666e719eef5895b4ba70"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        </script>

        <div id="app">
            <section class="hero is-primary">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title is-1">Restaurant Menu Manager</h1>
                    </div>
                </div>
            </section>

            <div id="main">
                <section class="section">
                    <div class="container">
                        <div class="columns">
                          <div class="column" v-for="items in items">
                            <div class="card">
                              <div class="card-content">
                                <div class="media">
                                  <div class="media-left">
                                  </div>
                                  <div class="media-content">
                                    <p class="title is-4">{{ items.name }}</p>
                                    <p class="subtitle is-6">${{ items.price }}</p>
                                  </div>
                                </div>
                            
                                <div class="content">
                                  {{ items.description }}
                                  <br>
                                </div>
                                <button id="item" @click="deleteitem(items)" class="btn btn-danger">Delete</button>
                                <button id="item" @click="edititem(items); showChangeDialogue = true" class="btn btn-warning">Edit</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </section>
                <button type="button" class="btn btn-primary" @click="showItemDialogue = true" v-if="!showItemDialogue">Add Item</button>
                <itemdialogue v-if="showItemDialogue" @item-added="hideDialogue()"></itemdialogue>


                <div v-if="showChangeDialogue">
                    <h2>Editing: {{ toedit }}</h2>
                    <form>
                        <label>Menu Item Name</label><br>
                        <input v-model="new_name"><br>
                        <label>Description</label><br>
                        <textarea v-model="new_description"></textarea><br>
                        <label>Price<br>$</label>
                        <input v-model="new_price"><br>
                        <button type="button" class="btn btn-primary" @click="changeItem(); showChangeDialogue = false">Change</button>
                        <button type="button" class="btn btn-warning" @click="showChangeDialogue = false">Cancel</button>
                    </form>
                </div>

            </div>
        </div>
        <script src="./js/main.js"></script>
    </body>
</html>